<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AllowedTypes</key>
		<array>
			<string>public.swift-source</string>
		</array>
		<key>DefaultCompletionName</key>
		<string>NewScene</string>
		<key>Description</key>
		<string>Complete Scene</string>
		<key>Kind</key>
		<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
		<key>Platforms</key>
		<array>
			<string>com.apple.platform.iphoneos</string>
		</array>
		<key>Summary</key>
		<string>Complete Scene</string>
		<key>Options</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>sceneName</string>
				<key>Name</key>
				<string>Scene name:</string>
				<key>Default</key>
				<string>NewScene</string>
				<key>Description</key>
	          	<string>The name of the class of the scene to create</string>
				<key>NotPersisted</key>
				<true/>
				<key>Required</key>
				<true/>
				<key>Type</key>
				<string>text</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>emptyName1</string>
	            <key>Name</key>
	          	<string></string>
	           	<key>Default</key>
	            <string></string>
	           	<key>Type</key>
	          	<string>static</string>
	           	<key>NotPersisted</key>
	          	<true/>
	       	</dict>
	       	<dict>
				<key>Identifier</key>
				<string>emptyName2</string>
	         	<key>Name</key>
	          	<string></string>
	          	<key>Default</key>
	          	<string></string>
	          	<key>Type</key>
	          	<string>static</string>
	          	<key>NotPersisted</key>
	          	<true/>
	      	</dict>
	      	<dict>
				<key>Identifier</key>
				<string>coordinatorName</string>
	          	<key>Name</key>
	          	<string>Coordinator:</string>
	          	<key>Default</key>
	          	<string>___VARIABLE_sceneName___Coordinator.swift</string>
	          	<key>Type</key>
	          	<string>static</string>
				<key>Required</key>
				<true/>
	          	<key>NotPersisted</key>
	           	<true/>
	      	</dict>
	   	  	<dict>
				<key>Identifier</key>
				<string>dependenciesName</string>
	          	<key>Name</key>
	          	<string>Dependencies:</string>
	          	<key>Default</key>
	          	<string>___VARIABLE_sceneName___DependenciesResolver.swift</string>
	          	<key>Type</key>
	          	<string>static</string>
				<key>Required</key>
				<true/>
	          	<key>NotPersisted</key>
	          	<true/>
	      	</dict>
			<dict>
				<key>Identifier</key>
				<string>externalDependenciesName</string>
	          	<key>Name</key>
	          	<string></string>
	          	<key>Default</key>
	          	<string>___VARIABLE_sceneName___ExternalDependenciesResolver.swift</string>
	          	<key>Type</key>
	          	<string>static</string>
				<key>Required</key>
				<true/>
	         	<key>NotPersisted</key>
	         	<true/>
	      	</dict>
			<dict>
				<key>Identifier</key>
				<string>representableName</string>
	         	<key>Name</key>
	         	<string>Representables:</string>
	         	<key>Default</key>
	         	<string>___VARIABLE_sceneName___Representable.swift</string>
	         	<key>Type</key>
	         	<string>static</string>
				<key>Required</key>
				<true/>
	        	<key>NotPersisted</key>
	   		   	<true/>
	      	</dict>
			<dict>
				<key>Identifier</key>
				<string>viewModelName</string>
	          	<key>Name</key>
	          	<string>ViewModel:</string>
	          	<key>Default</key>
	          	<string>___VARIABLE_sceneName___ViewModel.swift</string>
	          	<key>Type</key>
	          	<string>static</string>
				<key>Required</key>
				<true/>
	      		<key>NotPersisted</key>
	      		<true/>
	       	</dict>
			<dict>
				<key>Identifier</key>
				<string>viewName</string>
	          	<key>Name</key>
	          	<string>View:</string>
	          	<key>Default</key>
	          	<string>___VARIABLE_sceneName___ViewController.xib</string>
	          	<key>Type</key>
	          	<string>static</string>
				<key>Required</key>
				<true/>
	        	<key>NotPersisted</key>
	          	<true/>
	     	</dict>
			<dict>
				<key>Identifier</key>
				<string>controllerName</string>
	            <key>Name</key>
	            <string></string>
	            <key>Default</key>
	            <string>___VARIABLE_sceneName___ViewController.swift</string>
	            <key>Type</key>
	            <string>static</string>
				<key>Required</key>
				<true/>
	            <key>NotPersisted</key>
	            <true/>
	    	</dict>
		</array>
		<key>Definitions</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>
	</dict>
</plist>
