<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AllowedTypes</key>
		<array>
			<string>public.swift-source</string>
		</array>
		<key>DefaultCompletionName</key>
		<string>XibView</string>
		<key>Description</key>
		<string>XibView</string>
		<key>Kind</key>
		<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
		<key>Platforms</key>
		<array>
			<string>com.apple.platform.iphoneos</string>
		</array>
		<key>Summary</key>
		<string>XibView</string>
		<key>Options</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>viewName</string>
				<key>Name</key>
				<string>View name:</string>
				<key>Default</key>
				<string>XibView</string>
				<key>Description</key>
	          	<string>The name of the class of the XibView to create</string>
				<key>NotPersisted</key>
				<true/>
				<key>Required</key>
				<true/>
				<key>Type</key>
				<string>text</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>emptyName1</string>
	            <key>Name</key>
	          	<string></string>
	           	<key>Default</key>
	            <string></string>
	           	<key>Type</key>
	          	<string>static</string>
	           	<key>NotPersisted</key>
	          	<true/>
	       	</dict>
	      	<dict>
				<key>Identifier</key>
				<string>viewName1</string>
	          	<key>Name</key>
	          	<string>Coordinator:</string>
	          	<key>Default</key>
	          	<string>___VARIABLE_viewName___View.swift</string>
	          	<key>Type</key>
	          	<string>static</string>
				<key>Required</key>
				<true/>
	          	<key>NotPersisted</key>
	           	<true/>
	      	</dict>
	   	  	<dict>
				<key>Identifier</key>
				<string>viewName2</string>
	          	<key>Name</key>
	          	<string>Dependencies:</string>
	          	<key>Default</key>
	          	<string>___VARIABLE_viewName___View.xib</string>
	          	<key>Type</key>
	          	<string>static</string>
				<key>Required</key>
				<true/>
	          	<key>NotPersisted</key>
	          	<true/>
	      	</dict>
		</array>
		<key>Definitions</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>
	</dict>
</plist>
